{# templates/security/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h2>Login Form</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Login</button>
    {{ form_end(form) }}
</body>
</html>
